venv/
*.py
cheatsheet.html
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.env
vendor
*.backup
*.backup2
*.docx
*.doc
# Example - but this only stops Git from tracking
batchdeploy_cheatsheet.html
cheatsheet.html
welcome-to-jekyll/
